[merge]
	conflictstyle = diff3
[push]
	default = current
[core]
	excludesfile = dev/.gitignore
	editor = emacs
	autocrlf = input
[alias]
	st = status
	ci = commit
	co = checkout
	conb = checkout origin/master -b
	cp = cherry-pick
	br = branch
	di = diff
	id = log -1 --pretty=%h
	logg = log --graph --decorate --oneline
	pu = push -u ; git status
	lg = log origin/master.. --name-status
	ls = log --pretty=format:"%C(yellow)%h%Cgreen%d\\ %Creset%s%Cred\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cgreen%d\\ %Creset%s%Cred\\ [%cn]" --decorate --numstat --date=short
	lds = log --pretty=format:"%C(yellow)%h%C(cyan)\\ %ad%C(green)%d\\ %Creset%s%Cred\\ [%cn]" --decorate --date=short
	logn = log --name-status
	su = stash -u
    diff = diff -R
	list-merged = ! git branch -r --no-color --merged origin/master  | grep -P 'origin\\/[A-Z]{2,5}[0-9]?-[0-9]{1,4}' | sed -r 's/^  origin\\///' | sort
	ls-bin = ! bash -c 'comm -13 <(git grep -Ic \"\" | sort) <(git grep -c \"\" | sort)' | cut -d : -f 1
	show-clean-files = ! bash -c 'comm -13 <(git show-dirty-files | sort) <(git ls-files  | sort)'
	show-dirty-files = ! git status --short  | sed -e 's/^?? //' | sed -e 's/^ M //'
	ws = ! git add . && (git diff --cached --color=never -w | git apply --cached -R)
	pull-request = ! GITHUB_HOST=$(git config remote.origin.url | sed -r 's/git@(.*):(.*)/\\1/') hub pull-request -m \"$(git rev-parse --abbrev-ref HEAD)\"
[color]
	ui = always
[user]
	name = Ali Zand
	email = ali.zand@realpage.com
[url "https://"]
	insteadOf = git://
[rerere]
	enabled = true
	autoupdate = true
[credential]
	helper = osxkeychain
[hub]
	host = github.on-site.com
[branch]
	autosetuprebase = always
[gc]
	rerereUnresolved = 2
	rerereResolved = 30
